@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TCW Administration Portal</h1>
    <p class="lead">The Texas Crossway Realty Administration Portal offers the ability to manage content on the Texas Crossway Realty public facing website.</p>
    <p><a href="/" class="btn btn-primary btn-lg" title="Click here to learn how to use the Portal">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Manage Properties</h2>
        <p>
            Gives you the ability to control the featured properties on the home page of the Texas Crossway Realty public facing website
        </p>
        <p><a class="btn btn-default" href="/FeaturedProperties/Index">Manage Properties &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Manage Agents</h2>
        <p>Gives you the ability to control which agents show up on the Our Agents section of the Texas Crossway Realty public facing website.</p>
        <p><a class="btn btn-default" href="/Agent/Index">Manage Agents &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Mangae Contact Info</h2>
        <p>Gives you the ability to update the contact information on the Contact section of the Texas Crossway Realty public facing website.</p>
        <p><a class="btn btn-default" href="/ContactInfo/Details">Manage Contact Info &raquo;</a></p>
    </div>
</div>