@{
    ViewBag.Title = "Manage Agents";
}

<div class="row">
    <h2>@ViewBag.Title</h2>
    <p>
        Use this screen to manage the Agents that shows up in the Our Agents Page Here you can add, update
         or remove agents.
    </p>

    <form>
        <div class="form-group">
            <label>Agent Name</label>
            <input class="form-control" />
            <label>Agent Location</label>
            <input class="form-control" />
            <label>Agent Picture</label>
            <input type="file" class="form-control" />
            <label>Description</label>
            <textarea class="form-control"></textarea>
        </div>
        <div class="form-group">
            <input type="submit" value="Update" class="btn btn-success" />
            <a asp-controller="app" asp-action="index" class="btn btn-default">Cancel</a>
        </div>
    </form>
</div>

